@import url('./_reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root {
    --background: #121214;
    --card-background: #2A2634;
    --boder-gradient: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);

    --primary-text: #fff;
    --secondary-text: #A1A1AA;

    --text-lg: 1.5rem;
    --text-md: 1rem;
    --text-sm: 0.875rem;

    --regular: 400;
    --medium: 500;
    --black: 900;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background);
    background-position: center center;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 580px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER */
header {
    margin: 2rem auto;
}

.avatar-border {
    width: 16rem;
    height: 16rem;
    position: relative;
    padding: 0.25rem;
    background-image: var(--boder-gradient);
    border-radius: 50%;

    animation: fromTop 1500ms;
}

.avatar {
    width: 100%;
    border-radius: 50%;
}

/* MAIN */
main {
    align-self: stretch;
}

.border {
    padding-top: 0.25rem;
    margin-bottom: 1.5rem;

    background-image: var(--boder-gradient);
    border-radius: 0.625rem;
}

.card {
    background-color: var(--card-background);

    padding: 1.5rem 2rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-radius: 0.5rem;
}

.border {
    animation: fromLeft 750ms;
}

.games-list,
.streamers-list,
.socials-list {
    animation: fromRight 1500ms;
}

.texts {
    margin-bottom: 1.5rem;
}

.title {
    font-size: var(--text-lg);
    font-weight: var(--black);
    color: var(--primary-text);
}

.description {
    font-size: var(--text-md);
    font-weight: var(--regular);
    color: var(--secondary-text);
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.game-cover {
    width: 100px;
    height: 125px;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.streamer-cover {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.socials-cover {
    width: 48px;
    height: 48px;
    transition: all 0.3s ease-in-out;
}

.game-cover:hover,
.streamer-cover:hover,
.socials-cover:hover {
    scale: 1.1;
}

/* ANIMATIONS */
@keyframes fromTop {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fromLeft {
    0% {
        transform: translateX(-300px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fromRight {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateX(0);
    }
}