@import url('./_reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root {
    --background: #121214;
    --card-background: #2A2634;
    --boder-gradient: linear-gradient(90deg, #9572FC, #43E7AD, #E2D45C);

    --primary-text: #fff;
    --secondary-text: #A1A1AA;

    --text-lg: 1.5rem;
    --text-md: 1rem;
    --text-sm: 0.875rem;

    --regular: 400;
    --medium: 500;
    --black: 900;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background);
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 580px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */
header {
    margin: 2rem auto;
}

.avatar-border {
    width: 16rem;
    height: 16rem;
    position: relative;
    padding: 0.25rem;
}

.avatar-border:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border: 4px solid transparent;
    border-radius: 100%;
    background: var(--boder-gradient);
}

.avatar {
    width: 100%;
    border-radius: 100%;
}

/* cards */
main {
    align-self: stretch;
}

.border {
    padding-top: 0.25rem;
    margin-bottom: 1.5rem;

    background: var(--boder-gradient);
    border-radius: 1rem;
    overflow: hidden;
}

.card {
    background-color: var(--card-background);

    padding: 1.5rem 2rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-radius: 1rem;
}

.texts {
    margin-bottom: 1.5rem;
}

.title {
    font-size: var(--text-lg);
    font-weight: var(--black);
    color: var(--primary-text);
}

.description {
    font-size: var(--text-md);
    font-weight: var(--regular);
    color: var(--secondary-text);
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.game-cover {
    width: 90px;
    height: 120px;
    transition: all 0.3s ease-in-out;
}

.streamer-cover {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
}

.socials-cover {
    width: 48px;
    height: 48px;
    transition: all 0.3s ease-in-out;
}

.game-cover:hover,
.streamer-cover:hover,
.socials-cover:hover {
    scale: 1.1;
    /* -webkit-box-shadow: 0 0 10px 2px #9572FC;
    -moz-box-shadow: 0 0 10px 2px #9572FC;
    box-shadow: 0 0 10px 2px #9572FC; */
}